body {
  margin-top: 0px;
  /*background-image: linear-gradient(to right, #FFF, #EEF);*/
  color: black;
  font-family: 'Libre Franklin';
}
table.menu {
  width: 70em;
}
table.menu td {
  border: 1px solid #000000;
  padding: 5px;
  background-color: #FFFFFF; 
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
table.main {
  margin-left: auto;
  margin-right: auto;
}
table.main td {
   vertical-align: top;
}
table.left th {
   text-align: right;  
   vertical-align: top;
   text-decoration: underline;
}
table.left td {
  vertical-align:top;
}
img.left_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.visually-hidden {
  display: none;
}

table.team td.experience div::first-line {
  color: #600;
  font-weight: bold;
  text-decoration: underline;
}
table.team td.experience div {
  white-space: pre;
  border-left: 1px solid black;
  padding-left: 1em;
  padding-top: 1em;
}
table.team td.experience {
  text-align: left;
}
table.team {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td#leftContainer {
  width: 20em;
}
td#rightContainer {
  width: 40em;
}
.circular--square { border-radius: 50%; }
