body {
  margin-top: 0px;
  /*background-image: linear-gradient(to right, #FFF, #EEF);*/
  color: black;
  font-family: 'Libre Franklin';
}
table.menu {
  width: 70em;
}
table.menu td {
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-left: 1px inset #DDD;
  border-bottom: 1px inset #DDD;
  background-color: #FFF;
}
table.menu td a {
  color: black;
}
table.main {
  margin-left: auto;
  margin-right: auto;
}
table.main td {
   vertical-align: top;
}
table.left td, table.left th {
  padding-top: 0.6em;
}
table.left th {
   text-align: right;  
   vertical-align: top;
   text-decoration: underline;
}
table.left td {
  vertical-align:top;
  padding-left: 0.5em;
}
table.left td.logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}
table.left td.map {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}
table.left td.map iframe.map {
  border: 1px solid #CCC;
}
img.left_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.visually-hidden {
  display: none;
}
table.leadership td.experience div.TeamMemberName {
  font-weight: bold;
}

table.leadership td.experience div:not(.TeamMemberName)::first-line {
  color: #600;
  font-weight: bold;
  text-decoration: underline;
}
table.leadership td.experience div {
  white-space: pre;
  border-left: 1px solid black;
  padding-left: 1em;
  padding-top: 1em;
}
table.leadership td.experience {
  text-align: left;
}
table.leadership {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
td#leftContainer {
  width: 30em;
}
td#rightContainer {
  width: 40em;
}
.circular--square { border-radius: 50%; }
div.footerText {
  border-top: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  font: 10px 'Libre Franklin';
  text-align: right;
}
img.left_logo {
  margin-left: auto;
  margin-right: auto;
}


